h1 {
    font-family: "Arial Black", Gadget, sans-serif;
    color: #4CAF50;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 3px 2px darkgray;
    text-transform: uppercase;
    font-size: 40px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #202020;
    text-align: center;
    text-shadow: -1px 0 black;
    font-size: 50px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #202020;
    text-align: center;
    text-shadow: -1px 0 black;
    font-size: 35px;
}

.imageTags {
    padding: 20px 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.button {
    background-color: #4CAF50;
    color: honeydew;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    border: 2px solid forestgreen;
    margin: 4px 2px;
    padding: 5px;
}

.tags {
    padding-left: 50px;
    padding-right: 50px;
}

.thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin: 10px;
}

.thumbnails {
    margin: 20px;
}
